@use "../../styling/variables" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
}

.logo-div {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.logo-image {
    width: 3.6rem;
}

.logo-name {
    font-size: 2rem;
    font-weight: 500;
    color: $darkFontTextColor;
}

.links-div {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.default-links {
    display: flex;
    gap: 1.6rem;
}
