@use "../../styling/variables" as *;

@mixin btn($bgColor, $fontColor) {
    font: {
        weight: 500;
        size: $buttonFontSize;
        family: inherit;
    }
    border: none;
    cursor: pointer;
    padding: 6px 24px;
    border-radius: 3px;
    background-color: $bgColor;
    color: $fontColor;

    transition: $defaultTransition;
}

.btn-primary {
    @include btn($primaryColor, $lightFontTextColor);

    &:hover {
        background-color: $tintHoverColor;
    }
}

.btn-secondary {
    @include btn(transparent, $tintAccentColor);
    box-shadow: inset 0 0 0 2px $tintAccentColor;

    &:hover {
        background-color: $tintHoverColor;
        color: $lightFontTextColor;

        .fa-icon-btn {
            color: $lightFontTextColor;
        }
    }
}

.btn-contents {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.fa-icon-btn {
    width: 18px;
    height: 18px;
    color: $tintAccentColor;

    transition: $defaultTransition;
}
