@use "../../styling/variables" as *;

.link {
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    color: $darkFontTextColor;
}

.fa-icon {
    color: $darkFontTextColor;
    width: 14px;
    height: 14px;
    margin-top: 4px;
    margin-left: 6px;
}
